# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        repository: 'songlongtj/suse_demo'
        tags: |
          $(tag)
    
    - script: |
        docker images
    - task: NeuVectorScan@2
      inputs:
        scanType: 'standalone'
        nvContainerRegistry: 'NeuVector Registry'
        nvRepository: 'songlongtj/scanner'
        nvTag: '5.0'
        repository: 'songlongtj/suse_demo'
        tag: '${Build.BuildId}'
    - script: |
        docker tag songlongtj/suse_demo:${Build.BuildId} registry.hub.docker.com/songlongtj/suse_demo:${Build.BuildId}
        docker images
    - task: Docker@2
      displayName: push the scanned image to a registry
      inputs:
        containerRegistry: 'NeuVector Registry'
        repository: 'songlongtj/suse_demo'
        command: 'push'